{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next",
    "prettier",
    "plugin:jest-dom/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["*.{tsx,jsx}"],
      "extends": ["plugin:react/recommended", "prettier"],
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    },
    {
      "files": ["*.test.{ts,tsx,js,jsx}"],
      "plugins": ["jest", "prettier"],
      "extends": ["plugin:jest/recommended"]
    }
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "import/no-anonymous-default-export": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
