{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": [
    "@landonschropp",
    "@landonschropp/react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  }
}
