/dist
/.next
/cache
/node_modules
tsconfig.tsbuildinfo
/public/downloads

# The TanStack Start documentation says to commit this file to source control. However, it's doesn't
# seem strictly necessary, and I don't like the idea of committing build artifacts to source control
# unnecessarily.
/src/routeTree.gen.ts
