---
import type { Note as NoteType } from "../../types";
import { Note } from "../../components/note";
import { ContentLayout } from "../../layouts/content-layout";
import { fetchNoteSummaries } from "../../data/notes";
import { fetchPageHtml } from "../../data/notion";

export async function getStaticPaths() {
  let noteSummaries = await fetchNoteSummaries();

  return noteSummaries.map((noteSummary) => {
    return {
      params: { slug: noteSummary.slug },
      props: { noteSummary },
    };
  });
}

let { noteSummary } = Astro.props;
let note: NoteType = { ...noteSummary, content: await fetchPageHtml(noteSummary.id) };
---

<ContentLayout title="Content" description="Description" category={note.category}>
  <Note note={note} />
  {
    /*
    HACK: Astro refuses to include the styles without an extra element here. I should be able 
    remove this as soon as I add Tailwind typography.
    */
  }
  <p></p>
</ContentLayout>
