.header
  text-align: center

  // NOTE: Use $spacing * 1.5 for the bottom because the first note has padding on the top.
  margin: $spacing * 1.5 0

  &__header
    margin: 0

  &__suphead, &__subhead
    margin: $spacing * 0.25 0
    font-style: italic

    // Slightly darken the text to compensate for the smaller font size
    color: darken($emperor, 5%)

  // HACK: The extra spacing is needed to visually make the header look evenly spaced.
  &__subhead
    margin: $spacing * 0.5 0

  &__title-link
    text-decoration: none

    &:not(:hover)
      color: inherit

  &__tags
    display: flex
    justify-content: center
    flex-wrap: wrap

  // TODO: The tag groups exist to allow the tags to wrap in a grouped fashion. This prevents one
  // "lone tag" from sitting on the next line on standard mobile sizes. This should probably be
  // fixed via CSS.
  &__tag-group
    display: flex

    *
      margin: $spacing * 0.5 $spacing * 0.25 0
