<nav class="main-navigation">
  {% set isNotes = r/^\/notes/.test(page.url) %}

  <div class="main-navigation__primary">
    <a class="main-navigation__link" href="/">
      <b class="main-navigation__title-text--long">
        Landon Schropp
      </b>
      <b class="main-navigation__title-text--short">
        Home
      </b>
    </a>

    {# TODO: Write a helper for this to make it more concise. #}
    <a
      class="main-navigation__link {% if isNotes %}main-navigation__link--selected{% endif %}"
      href="/notes"
    >
      Notes
    </a>

    <a class="main-navigation__link" href="https://medium.com/@LandonSchropp">Blog</a>
    <a class="main-navigation__link" href="https://unravelingflexbox.com">Book</a>
  </div>

  <div class="main-navigation__secondary">
    <a class="main-navigation__icon" href="https://twitter.com/LandonSchropp">
      {% icon "twitter", "Twitter" %}
    </a>

    <a class="main-navigation__icon" href="https://github.com/LandonSchropp">
      {% icon "github", "GitHub" %}
    </a>

    <a class="main-navigation__icon" href="https://www.goodreads.com/landonschropp">
      {% icon "goodreads", "Goodreads" %}
    </a>

    <a class="main-navigation__icon" href="mailto:schroppl@gmail.com">
      {% icon "email", "Email" %}
    </a>

    <a class="main-navigation__icon" href="https://codepen.io/LandonSchropp/">
      {% icon "codepen", "CodePen" %}
    </a>

    <a class="main-navigation__icon" href="https://www.linkedin.com/in/landonschropp">
      {% icon "linkedin", "LinkedIn" %}
    </a>
  </div>
</nav>
