{% extends 'layouts/layout.njk' %}

{% set title = "Landon Schropp" %}
{% set description = "Landon Schropp is an entrepreneur, developer and designer based in Seattle." %}

{% block content %}
  <template id="landscape">
    {% include "includes/landscape.njk" %}
  </template>

  <template id="portrait">
    {% include "includes/portrait.njk" %}
  </template>

  <main class="landing">
    <svg
      class="landing__svg"
      viewBox="0 0 1296 445"
      role="main"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >

      <title>Landon Schropp</title>

      <defs>
        <pattern id="flannel" patternUnits="userSpaceOnUse" width="80" height="80">
          <image xlink:href="/images/flannel.png" x="0" y="0" width="80" height="80" />
        </pattern>
      </defs>

      <path id="landon" class="landing__item" d=""></path>
      <path id="schropp" class="landing__item" d=""></path>

      <g aria-label="Entrepreneur, Designer & Developer">
        <path id="entrepreneur" class="landing__item" d=""></path>
        <polygon id="comma" class="landing__item landing__comma" points=""></polygon>
        <path id="developer-and-designer" class="landing__item" d=""></path>
      </g>

      <a
        class="landing__link"
        xlink:href="https://medium.com/@LandonSchropp"
        role="link">
        <title>Blog</title>
        <path id="blog" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="https://unravelingflexbox.com"
        role="link">
        <title>Book</title>
        <path id="book" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="https://notes.landonschropp.com"
        role="link">
        <title>Notes</title>
        <path id="notes" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="https://twitter.com/LandonSchropp"
        role="link">
        <title>Twitter</title>
        <path id="twitter" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="https://github.com/LandonSchropp"
        role="link">
        <title>GitHub</title>
        <path id="github" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="https://www.goodreads.com/landonschropp"
        role="link">
        <title>Goodreads</title>
        <path id="goodreads" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="mailto:schroppl@gmail.com"
        role="link">
        <title>Email</title>
        <path id="email" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="https://codepen.io/LandonSchropp/"
        role="link">
        <title>CodePen</title>
        <path id="codepen" class="landing__item" d=""></path>
      </a>

      <a
        class="landing__link"
        xlink:href="https://www.linkedin.com/in/landonschropp"
        role="link">
        <title>LinkedIn</title>
        <path id="linkedin" class="landing__item" d=""></path>
      </a>
    </svg>
  </main>
{% endblock %}
