{% extends 'layouts/layout.njk' %}

{% set title = "Landon Schropp" %}
{% set description = "Landon Schropp is an entrepreneur, developer and designer based in Seattle." %}

{% block content %}
  <template id="landscape">
    {% include "includes/landscape.njk" %}
  </template>

  <template id="portrait">
    {% include "includes/portrait.njk" %}
  </template>

  <svg
    class="main"
    viewBox="0 0 1296 445"
    role="main"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >

    <title>Landon Schropp</title>

    <defs>
      <pattern id="flannel" patternUnits="userSpaceOnUse" width="80" height="80">
        <image xlink:href="/images/flannel.png" x="0" y="0" width="80" height="80" />
      </pattern>
    </defs>

    <path id="landon" class="main__item" d=""></path>
    <path id="schropp" class="main__item" d=""></path>

    <g aria-label="Entrepreneur, Designer & Developer">
      <path id="entrepreneur" class="main__item" d=""></path>
      <polygon id="comma" class="main__item main__comma" points=""></polygon>
      <path id="developer-and-designer" class="main__item" d=""></path>
    </g>

    <a
      class="main__link"
      xlink:href="https://medium.com/@LandonSchropp"
      role="link">
      <title>Blog</title>
      <path id="blog" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="https://unravelingflexbox.com"
      role="link">
      <title>Book</title>
      <path id="book" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="https://notes.landonschropp.com"
      role="link">
      <title>Notes</title>
      <path id="notes" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="https://twitter.com/LandonSchropp"
      role="link">
      <title>Twitter</title>
      <path id="twitter" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="https://github.com/LandonSchropp"
      role="link">
      <title>GitHub</title>
      <path id="github" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="https://www.goodreads.com/landonschropp"
      role="link">
      <title>Goodreads</title>
      <path id="goodreads" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="mainto:schroppl@gmail.com"
      role="link">
      <title>Email</title>
      <path id="email" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="https://codepen.io/LandonSchropp/"
      role="link">
      <title>CodePen</title>
      <path id="codepen" class="main__item" d=""></path>
    </a>

    <a
      class="main__link"
      xlink:href="https://www.linkedin.com/in/landonschropp"
      role="link">
      <title>LinkedIn</title>
      <path id="linkedin" class="main__item" d=""></path>
    </a>
  </svg>
{% endblock %}
