@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full font-serif font-normal;

  font-size: 19px;

  @screen md {
    font-size: 21px;
  }

  @screen lg {
    font-size: 22px;
  }
}
