.tag
  display: inline-block
  padding: $spacing--xxsmall $spacing--small

  color: $white

  font-family: $font-family--sans-serif
  font-size: $font-size--xxsmall
  font-weight: normal
  text-transform: uppercase
  border-radius: $spacing
  letter-spacing: 0.05em

  &[data-type="article"]
    background-color: $cornflower-blue

  &[data-type="video"]
    background-color: $purple

  &[data-type="book"]
    background-color: $bittersweet

  &[data-type="podcast"]
    background-color: $orange

  &[data-type="talk"]
    background-color: $yellow
