html
  font-family: $font-family--serif
  font-size: 18px
  font-weight: 400
  line-height: 1.45

  color: $emperor

  +viewport--medium
    font-size: 19px

  +viewport--large
    font-size: 20px

html, body
  height: 100%
