html
  font-family: 'Merriweather', serif
  font-size: 16px
  font-weight: 400
  line-height: 1.45

  color: $emperor

  +viewport--medium
    font-size: 17px

  +viewport--large
    font-size: 18px

html, body
  height: 100%
