<!doctype html>
<html>
  <head>
    {% include 'partials/google-analytics.njk' %}

    <meta charset="utf-8">
    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Pair down the fonts. -->
    <link
      href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700|Open+Sans:400,700"
      rel="stylesheet"
    >

    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>

  <body>

    {% if page.url != "/" %}
      {% include "partials/main-header.njk" %}
    {% endif %}

    <main class="{{ mainClass }}">
      {{ content | safe }}
    </main>

    <script src="/javascript/index.js"></script>
  </body>
</html>
