---
layout: layouts/default.njk
mainClass: content
---

<article class="note">

  {% include "partials/note-header.njk" %}

  {% if embedURL %}
    {% embedly embedURL %}
  {% endif %}

  <section class="note__content">
    {{ content | safe }}
  </section>
</article>
