---
layout: layouts/default.njk
mainClass: content
---

<article class="note" data-type="{{ type }}">

  {% include "partials/note-header.njk" %}

  <section class="note__content">
    {{ content | safe }}
  </section>
</article>
