.note-summaries
  margin: $spacing * 2 0

.note-summary
  +tag-color(border-color)

  display: block

  // NOTE: I'm using padding instead of margins so there are no gaps in the hovers when moving the
  // mouse between links.
  margin-top: $spacing
  margin-bottom: $spacing
  padding-left: calc(#{ $spacing * 0.75 } - 3px)

  border-left-width: 3px
  border-left-style: solid

  text-decoration: none
  color: var(--theme-text-color)

  transition: background-color $transition-time--small ease-in, box-shadow $transition-time--small ease-in

  // Compensate for the padding.
  &:first-of-type
    margin-top: -$spacing * 0.5

  &:last-of-type
    margin-bottom: -$spacing * 0.5

  &:hover, &:focus-visible
    background-color: var(--theme-background-highlight-color)
    box-shadow: 0 0 0 $spacing * 0.5 var(--theme-background-highlight-color)

  &__title, &__about
    margin: 0

  +viewport--max-medium

    &__authors, &__about
      display: block

    &__source
      font-style: italic

    &__separator
      display: none
