---
import ContentLayout from "../layouts/content.astro";
import { fetchNoteSummaries } from "../data/notes";

let noteSummaries = await fetchNoteSummaries();
---

<ContentLayout title="Content" description="Description">
  <h1>Content</h1>
  {noteSummaries}
</ContentLayout>
