---
import ContentLayout from "../layouts/content.astro";
import { fetchNotes } from "../data/notes";

let notes = await fetchNotes();
---

<ContentLayout title="Content" description="Description">
  <h1>Content</h1>
  {notes}
</ContentLayout>
