.flannel

  // Due to the specifc nature of this component, these variable values are carefully tuned.
  $base-font-size: 14vw
  $subhead-ratio: 0.444
  $nav-ratio: 0.434
  $line-height: 0.82
  $underline-ratio: 0.06

  // Given what's possible with CSS, attempt to size the content so it fills the width of the
  // container
  text-transform: uppercase
  text-align: justify
  text-align-last: justify
  text-justify: distribute

  // Style the flannel background if the browser supports the clipping properties
  @supports (background-clip: text) or (-webkit-background-clip: text)
    background: url(/images/flannel.png)
    background-repeat: repeat
    background-size: 5%
    -webkit-background-clip: text
    background-clip: text
    color: transparent
    background-position: 0 50%

  &__text
    line-height: $line-height
    margin: $base-font-size * $line-height * 0.2 0
    font-size: $base-font-size

    &--subhead
      font-size: $base-font-size * $subhead-ratio

    &--nav
      font-size: $base-font-size * $nav-ratio

  &__link
    @mixin box-shadow($color)
      box-shadow: inset 0 (-$base-font-size * $underline-ratio / 2) white, inset 0 (-$base-font-size * $underline-ratio * 1.5) $color

    +box-shadow(transparentize(#aaa, 0.75))
    color: inherit
    text-decoration: none

    // HACK: We have to use a box shadow for the underlining since the text is hidden and the
    // background-clip property doesn't work with text decorations

    &:hover
      +box-shadow(#627ff6)
      color: #627ff6
