/* This is my own custom Highlight.js theme based upon the ally-light theme. */

.hljs-comment,
.hljs-quote {
  color: theme("colors.gray");
  font-style: italic;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: theme("colors.bittersweet");
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link,
.hljs-attribute {
  color: theme("colors.amethyst");
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: theme("colors.mulberry");
}

.hljs-title,
.hljs-section {
  color: theme("colors.cornflower");
}

.hljs-keyword,
.hljs-selector-tag {
  color: theme("colors.purple");
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
