---
---

<svg class="main" viewBox="0 0 1296 445">

  <path
    class="main__landon"
    d="{% include landon_path.html %}"></path>
  <path
    class="main__schropp"
    d="{% include schropp_path.html %}"></path>
  <path
    class="main__entrepreneur"
    d="{% include entrepreneur_path.html %}"></path>
  <path
    class="main__comma"
    d="{% include comma_path.html %}"></path>
  <path
    class="main__designer-and-developer"
    d="{% include developer_and_designer_path.html %}"></path>

  <g class="main__links">
    <a class="main__link main__blog" href="https://medium.com/@LandonSchropp">
      <path d="{% include blog_path.html %}"></path>
    </a>

    <a class="main__link main__book" href="https://unravelingflexbox.com">
      <path d="{% include book_path.html %}"></path>
    </a>

    <a class="main__link main__notes" href="https://notes.landonschropp.com">
      <path d="{% include notes_path.html %}"></path>
    </a>
  </g>

  <g class="main__social">
    <a class="main__link main__twitter" href="https://twitter.com/LandonSchropp">
      <path d="{% include twitter_path.html %}"></path>
    </a>

    <a class="main__link main__github" href="https://github.com/LandonSchropp">
      <path d="{% include github_path.html %}"></path>
    </a>

    <a class="main__link main__goodreads" href="https://www.goodreads.com/landonschropp">
      <path d="{% include goodreads_path.html %}"></path>
    </a>

    <a class="main__link main__email" href="mainto:schroppl@gmail.com">
      <path d="{% include email_path.html %}"></path>
    </a>

    <a class="main__link main__codepen" href="https://codepen.io/LandonSchropp/">
      <path d="{% include codepen_path.html %}"></path>
    </a>

    <a class="main__link main__linkedin" href="https://www.linkedin.com/in/landonschropp">
      <path d="{% include linkedin_path.html %}"></path>
    </a>
  </g>
</svg>
