{% extends 'layouts/layout.njk' %}

{% set title = "Landon Schropp - Notes" %}
{% set description = "A collection of notes on blog posts, talks, podcasts and books by Landon Schropp." %}
{% set mainClass = "content" %}

{% block content %}
  <header class="header">
    <h1 class="header__header">
      Entrepreneurship Notes
    </h1>
    <p class="header__subhead">
      A collection of notes on blog posts, talks, podcasts and books by
      <a href="http://landonschropp.com">Landon&nbsp;Schropp</a>
    </p>
  </header>

  <section class="note-cards">
    {% for note in collections.note | reverse %}
      <a class="note-card" href="{{ note.url }}">
        <h2 class="note-card__title">
          {{ note.data.title }}
        </h2>
        <p class="note-card__author">
          {% if note.data.author %}
            {{ note.data.author }}
          {% elif note.data.location %}
            {{ note.data.location }}
          {% endif %}
        </p>
      </a>
    {% endfor %}
  </section>
{% endblock %}
