---
layout: layouts/default.njk
title: Landon Schropp - Notes
description: A collection of notes on blog posts, talks, podcasts and books by Landon Schropp.
mainClass: content
---

{% block content %}
  <header class="header">
    <h1 class="header__header">
      Entrepreneurship Notes
    </h1>

    <p class="header__subhead">
      My personal notes on entrepreneurship, development and design.
    </p>
  </header>

  <section class="note-summaries">
    {% for note in collections.notes | reverse %}
      <a class="note-summary" href="{{ note.url }}" data-type="{{ note.data.type }}">
        <h3 class="note-summary__title">
          {{ note.data.title }}
        </h3>
        <p class="note-summary__author">
          {{ note.data.author | listify }}
        </p>
      </a>
    {% endfor %}
  </section>
{% endblock %}
