---
layout: layouts/default.njk
title: Landon Schropp - Notes
description: A collection of notes on blog posts, talks, podcasts and books by Landon Schropp.
mainClass: content
---

{% from "macros/tag.njk" import tag %}

{% block content %}
  <header class="header">
    <h1 class="header__header">
      Notes
    </h1>

    <p class="header__subhead">
      This is my personal collection of notes on entrepreneurship, development and design.
    </p>

    <div class="header__tags">
      <span class="header__tag-group">
        {{ tag("article") }}
        {{ tag("video") }}
        {{ tag("book") }}
      </span>
      <span class="header__tag-group">
        {{ tag("talk") }}
        {{ tag("podcast") }}
      </span>
    </div>
  </header>

  <section class="note-summaries">
    {% for note in collections.notes | reverse %}
      <a class="note-summary" href="{{ note.url }}" data-type="{{ note.data.type }}">
        <h3 class="note-summary__title">
          {{ note.data.title }}
        </h3>
        <p class="note-summary__about">
          <span class="note-summary__authors">
            {{ note.data.authors | listify }}
          </span>
          <b class="note-summary__separator">∙</b>
          <span class="note-summary__source">
            {{ note.data.sourceName }}
          </span>
        </p>
      </a>
    {% endfor %}
  </section>
{% endblock %}
