<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Pair down the fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>

  <body>
    <main class="{{ mainClass }}">
      {% block content %}{% endblock %}
    </main>

    <script src="/javascript/index.js"></script>
  </body>
</html>
