{% extends 'layouts/layout.njk' %}

{% set title = "Landon Schropp" %}
{% set description = "Landon Schropp is an entrepreneur, developer and designer based in Seattle." %}
{% set mainClass = "content" %}

{% block content %}
  <h1>{{ title }}</h1>

  {% block article %}{% endblock %}
{% endblock %}
